.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 0.9em;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer a {
    color: #ccc;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: white;
}
